<a href="https://colab.research.google.com/github/Kavya2099/Asian-games-athletics-web-scraping/blob/main/Asian_games_athletics_web_scraping_Final_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Websraping project on Asian games using Beautiful Soup to parse and extract information
Getting the list of countries who bagged medals in atletics from the year 1951-2022

I'll be scarping out year, country, category, gender and medals--> gold, silver, bronze deatils from wikipedia

https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics

This is the final copy. You can view all explanations in my rough copy notebook!!

In [1]:
!pip install requests --upgrade --quiet
import requests
!pip install beautifulsoup4 --upgrade --quiet
from bs4 import BeautifulSoup

     |████████████████████████████████| 62 kB 1.3 MB/s
     |████████████████████████████████| 128 kB 8.0 MB/s

In [2]:
def get_info(url):
  wiki_url = url
  #getting the response from url
  response = requests.get(wiki_url)
  #getting the status code. If the status code is between 200-299, it means success
  if response.status_code != 200:
        raise Exception('Failed to load page {}'.format(wiki_url))
  page_contents = response.text
  doc = BeautifulSoup(page_contents, 'html.parser')
  return doc

In [3]:
url='https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics'
doc=get_info(url)

## Getting category

In [4]:
category = doc.find_all('h2')
for i in range(1,4):
  category[i]= category[i].text[:-6]
category= category[1:4]
category

['Men', 'Women', 'Mixed']

We have 3 categories

##  Athletic sports type

In [5]:
selection_class = 'mw-headline'

sports_tags = doc.find_all('span', { 'class': selection_class})

sports_male=[]

for i in range(1,26):
  sports_male.append(sports_tags[i].text)
sports_female=[]

for i in range(27,52):
  sports_female.append(sports_tags[i].text)

sports_mixed=[]


sports_mixed.append(sports_tags[53].text)
sports= sports_male+ sports_female +sports_mixed
len(sports)

51

totally we have 25 sports in male, 25 sports in female and 1 in mixed, which sums upto 51 sports type w.r.t categories.

## Data from wikipedia tables

In [6]:
import pandas as pd
table=doc.find_all('table')

def get_year(year):
  year=year.split(' ')[0]
  return year

In [7]:
def dataset():
  data= pd.DataFrame()
  for i in range(0,51):
    source=pd.read_html(str(table[i]))
    # convert list to dataframe
    atheletics=pd.DataFrame(source[0])
    if(i<=24):
      j=0
    elif(i<50 and i>24):
      j=1
    else:
      j=2
    atheletics['Category']=category[j]
    atheletics['Sports']= sports[i]
    atheletics.rename(columns = {'Games':'Year'}, inplace = True)
    atheletics['Year']= atheletics['Year'].apply(get_year)
    atheletics['Gold']=atheletics.Gold.str.extract(r'\((.*)\)')
    atheletics['Silver']=atheletics.Silver.str.extract(r'\((.*)\)')
    atheletics['Bronze']=atheletics.Bronze.str.extract(r'\((.*)\)')
    print("Appending "+sports[i]+ " in "+category[j])
    data=data.append(atheletics,ignore_index=True)

  return data

In [8]:
data= dataset()

Appending 100 m in Men
Appending 200 m in Men
Appending 400 m in Men
Appending 800 m in Men
Appending 1500 m in Men
Appending 5000 m in Men
Appending 10,000 m in Men
Appending 110 m hurdles in Men
Appending 400 m hurdles in Men
Appending 3000 m steeplechase in Men
Appending 4 × 100 m relay in Men
Appending 4 × 400 m relay in Men
Appending Marathon in Men
Appending 10,000 m walk in Men
Appending 20 km walk in Men
Appending 50 km walk in Men
Appending High jump in Men
Appending Pole vault in Men
Appending Long jump in Men
Appending Triple jump in Men
Appending Shot put in Men
Appending Discus throw in Men
Appending Hammer throw in Men
Appending Javelin throw in Men
Appending Decathlon in Men
Appending 100 m in Women
Appending 200 m in Women
Appending 400 m in Women
Appending 800 m in Women
Appending 1500 m in Women
Appending 3000 m in Women
Appending 5000 m in Women
Appending 10,000 m in Women
Appending 100 m hurdles in Women
Appending 400 m hurdles in Women
Appending 3000 m steeplechase in Women
Appending 4 × 100 m relay in Women
Appending 4 × 400 m relay in Women
Appending Marathon in Women
Appending 10,000 m walk in Women
Appending 20 km walk in Women
Appending High jump in Women
Appending Pole vault in Women
Appending Long jump in Women
Appending Triple jump in Women
Appending Shot put in Women
Appending Discus throw in Women
Appending Hammer throw in Women
Appending Javelin throw in Women
Appending Heptathlon in Women
Appending 4 × 400 m relay in Mixed

In [9]:
data

     Year Gold Silver Bronze Category           Sports
0    1951  IND    JPN    JPN      Men            100 m
1    1954  PAK    PHI    IND      Men            100 m
2    1958  PAK    JPN    PHI      Men            100 m
3    1962  INA    MAL    PHI      Men            100 m
4    1966  MAL    SIN    JPN      Men            100 m
..    ...  ...    ...    ...      ...              ...
727  2006  KAZ    IND    IND    Women       Heptathlon
728  2010  UZB    JPN    IND    Women       Heptathlon
729  2014  UZB    CHN    UZB    Women       Heptathlon
730  2018  IND    CHN    JPN    Women       Heptathlon
731  2018  IND    KAZ    CHN    Mixed  4 × 400 m relay

[732 rows x 6 columns]

Finally we have created our dataset, but I want to create another dataset which contains country codes with full country names.

Let's see how can we do that.

I'll take the list from https://en.wikipedia.org/wiki/List_of_IOC_country_codes

# Country code dataset

In [10]:
country_url = 'https://en.wikipedia.org/wiki/List_of_IOC_country_codes'
doc=get_info(country_url)

In [11]:
table=doc.find_all('table')
#changing table 0 to dataframe

country=pd.read_html(str(table[0]))
# convert list to dataframe
country=pd.DataFrame(country[0])
country= country[['Code',	'National Olympic Committee',	'Other codes used']]

#changing the value of first Code record as the record seems to have some extra values
country.Code[0]='AFG'

In [12]:
country

,Code,National Olympic Committee,Other codes used
0,AFG,Afghanistan,NaN
1,ALB,Albania,NaN
2,ALG,Algeria,AGR (1964)AGL (1968 S) from Spanish Argelia
3,AND,Andorra,NaN
4,ANG,Angola,ANO (As referenced in IAAF World Championships...
...,...,...,...
201,VIE,Vietnam,VET (1964)VNM (1968–1976)
202,VIN,Saint Vincent and the Grenadines,NaN
203,YEM,Yemen,NaN
204,ZAM,Zambia,NRH (1964) as Northern Rhodesia
205,ZIM,Zimbabwe,RHO (1960–1972) as Rhodesia

The reason for adding this dataset is beacause, we could see some countries have use different country codes for the specific time period.

This data set will help to identify the old and new country codes in that cases.

#Saving the datasets

In [13]:
# saving the dataframe
data.to_csv('Athletics_record.csv')

country.to_csv('Country_code.csv')

#Things I've learnt

- Basic concepts of web screaping using Beautiful soup
- Findall() to get the html tags and sections
- Using tables to extract wikipedia table infomration is very easy 


#Things to implement in future
- Scraping multi pages in wikipedia using wikipedia and urllib2 pacakages
- Including scraping of href links for the dataset
- Scraping someother sites apart from wikipedia

# References

- https://www.youtube.com/watch?v=RKsLLG-bzEY&t=4592s
- https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics
- https://jovian.ai/aakashns-6l3/scraping-github-topics-repositories-rough
- https://www.w3resource.com/python-exercises/BeautifulSoup/python-beautifulsoup-exercise-9.php
- https://www.pylenin.com/blogs/python-beautiful-soup/
- https://medium.com/analytics-vidhya/web-scraping-a-wikipedia-table-into-a-dataframe-c52617e1f451
- https://www.appsloveworld.com/pandas/100/144/how-to-extract-only-the-string-component-between-parenthesis
- https://en.wikipedia.org/wiki/List_of_IOC_country_codes