<a href="https://colab.research.google.com/github/Kavya2099/Asian-games-athletics-web-scraping/blob/main/Asian_games_athletics_web_scraping_initial_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Websraping project on Asian games

Getting the list of countries who bagged medals in atletics from the year 1951-2022

We'll be scarping out year, country, category, gender and medals--> gold, silver, bronze deatils from wikipedia

https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics

In [ ]:
!pip install requests --upgrade --quiet

In [ ]:
import requests

In [ ]:
wiki_url = 'https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics'

In [ ]:
#getting the response from url
response = requests.get(wiki_url)

In [ ]:
#getting the status code. If the status code is between 200-299, it means success
response.status_code

200

We could see have around 19 lakh text responses in the page. If we try to load entire thing here, it'll slow down the working so we are just looking into top 1000 text responses

In [ ]:
len(response.text)

1954061

In [ ]:
page_contents = response.text

In [ ]:
page_contents[:1000]

'<!DOCTYPE html>\n<html class="client-nojs" lang="en" dir="ltr">\n<head>\n<meta charset="UTF-8"/>\n<title>List of Asian Games medalists in athletics - Wikipedia</title>\n<script>document.documentElement.className="client-js";RLCONF={"wgBreakFrames":false,"wgSeparatorTransformTable":["",""],"wgDigitTransformTable":["",""],"wgDefaultDateFormat":"dmy","wgMonthNames":["","January","February","March","April","May","June","July","August","September","October","November","December"],"wgRequestId":"d62550ba-1f28-4e8c-bed9-95a3ffc303a5","wgCSPNonce":false,"wgCanonicalNamespace":"","wgCanonicalSpecialPageName":false,"wgNamespaceNumber":0,"wgPageName":"List_of_Asian_Games_medalists_in_athletics","wgTitle":"List of Asian Games medalists in athletics","wgCurRevisionId":1113433149,"wgRevisionId":1113433149,"wgArticleId":60572864,"wgIsArticle":true,"wgIsRedirect":false,"wgAction":"view","wgUserName":null,"wgUserGroups":["*"],"wgCategories":["Articles with short description","Short description is different '

# Using Beautiful Soup to parse and extract information

In [ ]:
!pip install beautifulsoup4 --upgrade --quiet
from bs4 import BeautifulSoup
doc = BeautifulSoup(page_contents, 'html.parser')

Now, first we'll be getting the category of athletics. Here category refers to male/ female.

So we need to find the tag at which male and female comes in the website. So with the help of inspect element we could find that it comes in the span tag at h2

![image.png]()

so now we'll get those h2 classes

In [ ]:
category = doc.find_all('h2')

In [ ]:
len(category)

7

so if we look at this, we could see that there are around 7 items inside span tags and we need only 3 which are male, female and mixed.

So lets split that those from others!

In [ ]:
category[1:4]

[<h2><span class="mw-headline" id="Men">Men</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_Asian_Games_medalists_in_athletics&amp;action=edit&amp;section=1" title="Edit section: Men">edit</a><span class="mw-editsection-bracket">]</span></span></h2>,
 <h2><span class="mw-headline" id="Women">Women</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_Asian_Games_medalists_in_athletics&amp;action=edit&amp;section=27" title="Edit section: Women">edit</a><span class="mw-editsection-bracket">]</span></span></h2>,
 <h2><span class="mw-headline" id="Mixed">Mixed</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_Asian_Games_medalists_in_athletics&amp;action=edit&amp;section=53" title="Edit section: Mixed">edit</a><span class="mw-editsection-bracket">]</span></span></h2>]

So here we are taking only the value and removing last '[Edit]' that is attached with the text

In [ ]:
category[3].text

'Mixed[edit]'

In [ ]:
category[3].text[:-6]

'Mixed'

In [ ]:

for i in range(1,4):
  category[i]= category[i].text[:-6]

In [ ]:
category

[<h2 id="mw-toc-heading">Contents</h2>,
 'Men',
 'Women',
 'Mixed',
 <h2><span class="mw-headline" id="See_also">See also</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_Asian_Games_medalists_in_athletics&amp;action=edit&amp;section=55" title="Edit section: See also">edit</a><span class="mw-editsection-bracket">]</span></span></h2>,
 <h2><span class="mw-headline" id="References">References</span><span class="mw-editsection"><span class="mw-editsection-bracket">[</span><a href="/w/index.php?title=List_of_Asian_Games_medalists_in_athletics&amp;action=edit&amp;section=56" title="Edit section: References">edit</a><span class="mw-editsection-bracket">]</span></span></h2>,
 <h2>Navigation menu</h2>]

In [ ]:
category= category[1:4]
category

['Men', 'Women', 'Mixed']

Now we got the category!!

Next we'll focus on getting the athletic sports type

![image.png]()

In [ ]:
selection_class = 'mw-headline'

sports_tags = doc.find_all('span', { 'class': selection_class})

In [ ]:
len(sports_tags)

56

In [ ]:
sports_tags

[<span class="mw-headline" id="Men">Men</span>,
 <span class="mw-headline" id="100_m">100 m</span>,
 <span class="mw-headline" id="200_m">200 m</span>,
 <span class="mw-headline" id="400_m">400 m</span>,
 <span class="mw-headline" id="800_m">800 m</span>,
 <span class="mw-headline" id="1500_m">1500 m</span>,
 <span class="mw-headline" id="5000_m">5000 m</span>,
 <span class="mw-headline" id="10,000_m">10,000 m</span>,
 <span class="mw-headline" id="110_m_hurdles">110 m hurdles</span>,
 <span class="mw-headline" id="400_m_hurdles">400 m hurdles</span>,
 <span class="mw-headline" id="3000_m_steeplechase">3000 m steeplechase</span>,
 <span class="mw-headline" id="4__100_m_relay">4  100 m relay</span>,
 <span class="mw-headline" id="4__400_m_relay">4  400 m relay</span>,
 <span class="mw-headline" id="Marathon">Marathon</span>,
 <span class="mw-headline" id="10,000_m_walk">10,000 m walk</span>,
 <span class="mw-headline" id="20_km_walk">20 km walk</span>,
 <span class="mw-headline" id="50_km_walk">50 km walk</span>,
 <span class="mw-headline" id="High_jump">High jump</span>,
 <span class="mw-headline" id="Pole_vault">Pole vault</span>,
 <span class="mw-headline" id="Long_jump">Long jump</span>,
 <span class="mw-headline" id="Triple_jump">Triple jump</span>,
 <span class="mw-headline" id="Shot_put">Shot put</span>,
 <span class="mw-headline" id="Discus_throw">Discus throw</span>,
 <span class="mw-headline" id="Hammer_throw">Hammer throw</span>,
 <span class="mw-headline" id="Javelin_throw">Javelin throw</span>,
 <span class="mw-headline" id="Decathlon">Decathlon</span>,
 <span class="mw-headline" id="Women">Women</span>,
 <span class="mw-headline" id="100_m_2">100 m</span>,
 <span class="mw-headline" id="200_m_2">200 m</span>,
 <span class="mw-headline" id="400_m_2">400 m</span>,
 <span class="mw-headline" id="800_m_2">800 m</span>,
 <span class="mw-headline" id="1500_m_2">1500 m</span>,
 <span class="mw-headline" id="3000_m">3000 m</span>,
 <span class="mw-headline" id="5000_m_2">5000 m</span>,
 <span class="mw-headline" id="10,000_m_2">10,000 m</span>,
 <span class="mw-headline" id="100_m_hurdles">100 m hurdles</span>,
 <span class="mw-headline" id="400_m_hurdles_2">400 m hurdles</span>,
 <span class="mw-headline" id="3000_m_steeplechase_2">3000 m steeplechase</span>,
 <span class="mw-headline" id="4__100_m_relay_2">4  100 m relay</span>,
 <span class="mw-headline" id="4__400_m_relay_2">4  400 m relay</span>,
 <span class="mw-headline" id="Marathon_2">Marathon</span>,
 <span class="mw-headline" id="10,000_m_walk_2">10,000 m walk</span>,
 <span class="mw-headline" id="20_km_walk_2">20 km walk</span>,
 <span class="mw-headline" id="High_jump_2">High jump</span>,
 <span class="mw-headline" id="Pole_vault_2">Pole vault</span>,
 <span class="mw-headline" id="Long_jump_2">Long jump</span>,
 <span class="mw-headline" id="Triple_jump_2">Triple jump</span>,
 <span class="mw-headline" id="Shot_put_2">Shot put</span>,
 <span class="mw-headline" id="Discus_throw_2">Discus throw</span>,
 <span class="mw-headline" id="Hammer_throw_2">Hammer throw</span>,
 <span class="mw-headline" id="Javelin_throw_2">Javelin throw</span>,
 <span class="mw-headline" id="Heptathlon">Heptathlon</span>,
 <span class="mw-headline" id="Mixed">Mixed</span>,
 <span class="mw-headline" id="4__400_m_relay_3">4  400 m relay</span>,
 <span class="mw-headline" id="See_also">See also</span>,
 <span class="mw-headline" id="References">References</span>]

Here we can see that we have category that is repeate here, and the classes that are repeated here along with last two values--> see also and references

so far now we'll split tags as female,male and mixed

In [ ]:
sports_tags[1].text

'100 m'

In [ ]:
sports_male=[]

for i in range(1,26):
  sports_male.append(sports_tags[i].text)

In [ ]:
len(sports_male)

25

In [ ]:
sports_male

['100 m',
 '200 m',
 '400 m',
 '800 m',
 '1500 m',
 '5000 m',
 '10,000 m',
 '110 m hurdles',
 '400 m hurdles',
 '3000 m steeplechase',
 '4  100 m relay',
 '4  400 m relay',
 'Marathon',
 '10,000 m walk',
 '20 km walk',
 '50 km walk',
 'High jump',
 'Pole vault',
 'Long jump',
 'Triple jump',
 'Shot put',
 'Discus throw',
 'Hammer throw',
 'Javelin throw',
 'Decathlon']

In [ ]:
sports_female=[]

for i in range(27,52):
  sports_female.append(sports_tags[i].text)

In [ ]:
len(sports_female)

25

In [ ]:
sports_female

['100 m',
 '200 m',
 '400 m',
 '800 m',
 '1500 m',
 '3000 m',
 '5000 m',
 '10,000 m',
 '100 m hurdles',
 '400 m hurdles',
 '3000 m steeplechase',
 '4  100 m relay',
 '4  400 m relay',
 'Marathon',
 '10,000 m walk',
 '20 km walk',
 'High jump',
 'Pole vault',
 'Long jump',
 'Triple jump',
 'Shot put',
 'Discus throw',
 'Hammer throw',
 'Javelin throw',
 'Heptathlon']

In [ ]:
sports_mixed=[]


sports_mixed.append(sports_tags[53].text)
sports_mixed

['4  400 m relay']

So totally we have 25 sports in male, 25 sports in female and 1 in mixed, which sums upto 51 categories.

Now we'll look into the year column.

In [ ]:
table=doc.find_all('table')
len(doc.find_all('table'))

54

We have 54 tables where as we have only 51 categories. 

We need to be careful when creating a dataframe with tables with those categories such that each categories matches with the table.

In [ ]:
table[0].text

'\n\nGames\n\nGold\n\nSilver\n\nBronze\n\n\n1951 New Delhi\n\n\xa0Lavy Pinto\xa0(IND)\n\n\xa0Toshihiro Ohashi\xa0(JPN)\n\n\xa0Tomio Hosoda\xa0(JPN)\n\n\n1954 Manila\n\n\xa0Abdul Khaliq\xa0(PAK)\n\n\xa0Genaro Cabrera\xa0(PHI)\n\n\xa0Marian Gabriel\xa0(IND)\n\n\n1958 Tokyo\n\n\xa0Abdul Khaliq\xa0(PAK)\n\n\xa0Kyohei Ushio\xa0(JPN)\n\n\xa0Isaac Gomez\xa0(PHI)\n\n\n1962 Jakarta\n\n\xa0Mohammad Sarengat\xa0(INA)\n\n\xa0Mani Jegathesan\xa0(MAL)\n\n\xa0Rogelio Onofre\xa0(PHI)\n\n\n1966 Bangkok\n\n\xa0Mani Jegathesan\xa0(MAL)\n\n\xa0C. Kunalan\xa0(SIN)\n\n\xa0Hideo Iijima\xa0(JPN)\n\n\n1970 Bangkok\n\n\xa0Masahide Jinno\xa0(JPN)\n\n\xa0Anat Ratanapol\xa0(THA)\n\n\xa0C. Kunalan\xa0(SIN)\n\n\n1974 Tehran\n\n\xa0Anat Ratanapol\xa0(THA)\n\n\xa0Masahide Jinno\xa0(JPN)\n\n\xa0Suchart Jairsuraparp\xa0(THA)\n\n\n1978 Bangkok\n\n\xa0Suchart Jairsuraparp\xa0(THA)\n\n\xa0Ramaswamy Gnanasekaran\xa0(IND)\n\n\xa0Suh Mal-gu\xa0(KOR)\n\n\n1982 New Delhi\n\n\xa0Rabuan Pit\xa0(MAL)\n\n\xa0Jang Jae-keun\xa0(KOR)\n\n\xa0Suchart Jairsuraparp\xa0(THA)\n\n\n1986 Seoul\n\n\xa0Talal Mansour\xa0(QAT)\n\n\xa0Hiroki Fuwa\xa0(JPN)\n\n\xa0Zheng Chen\xa0(CHN)\n\n\n1990 Beijing\n\n\xa0Talal Mansour\xa0(QAT)\n\n\xa0Zheng Chen\xa0(CHN)\n\n\xa0Sriyantha Dissanayake\xa0(SRI)\n\n\n1994 Hiroshima\n\n\xa0Talal Mansour\xa0(QAT)\n\n\xa0Vitaliy Savin\xa0(KAZ)\n\n\xa0Chen Wenzhong\xa0(CHN)\n\n\n1998 Bangkok\n\n\xa0Koji Ito\xa0(JPN)\n\n\xa0Reanchai Seeharwong\xa0(THA)\n\n\xa0Yasukatsu Otsuki\xa0(JPN)\n\n\n2002 Busan\n\n\xa0Jamal Al-Saffar\xa0(KSA)\n\n\xa0Nobuharu Asahara\xa0(JPN)\n\n\xa0Chen Haijian\xa0(CHN)\n\n\n2006 Doha\n\n\xa0Yahya Habeeb\xa0(KSA)\n\n\xa0Naoki Tsukahara\xa0(JPN)\n\n\xa0Wachara Sondee\xa0(THA)\n\n\n2010 Guangzhou\n\n\xa0Lao Yi\xa0(CHN)\n\n\xa0Yasser Al-Nasheri\xa0(KSA)\n\n\xa0Barakat Al-Harthi\xa0(OMA)\n\n\n2014 Incheon\n\n\xa0Femi Ogunode\xa0(QAT)\n\n\xa0Su Bingtian\xa0(CHN)\n\n\xa0Kei Takase\xa0(JPN)\n\n\n2018 JakartaPalembang\n\n\xa0Su Bingtian\xa0(CHN)\n\n\xa0Tosin Ogunode\xa0(QAT)\n\n\xa0Ryota Yamagata\xa0(JPN)\n'

In [ ]:
import pandas as pd

df=pd.read_html(str(table[0]))
# convert list to dataframe
df=pd.DataFrame(df[0])
df.head()

,Games,Gold,Silver,Bronze
0,1951 New Delhi,Lavy Pinto(IND),Toshihiro Ohashi(JPN),Tomio Hosoda(JPN)
1,1954 Manila,Abdul Khaliq(PAK),Genaro Cabrera(PHI),Marian Gabriel(IND)
2,1958 Tokyo,Abdul Khaliq(PAK),Kyohei Ushio(JPN),Isaac Gomez(PHI)
3,1962 Jakarta,Mohammad Sarengat(INA),Mani Jegathesan(MAL),Rogelio Onofre(PHI)
4,1966 Bangkok,Mani Jegathesan(MAL),C. Kunalan(SIN),Hideo Iijima(JPN)

Here we need to modify and add few things

1. I need to add gender and sports with this dataframe
2. I need to change the column name of Games to Year an extract only the year
3. I need only the country name from the other three columns

In [ ]:
#making our changes
#adding columns
df['Category']='Male'
df['Sports']= sports_male[0]
df.head()

,Games,Gold,Silver,Bronze,Category,Sports
0,1951 New Delhi,Lavy Pinto(IND),Toshihiro Ohashi(JPN),Tomio Hosoda(JPN),Male,100 m
1,1954 Manila,Abdul Khaliq(PAK),Genaro Cabrera(PHI),Marian Gabriel(IND),Male,100 m
2,1958 Tokyo,Abdul Khaliq(PAK),Kyohei Ushio(JPN),Isaac Gomez(PHI),Male,100 m
3,1962 Jakarta,Mohammad Sarengat(INA),Mani Jegathesan(MAL),Rogelio Onofre(PHI),Male,100 m
4,1966 Bangkok,Mani Jegathesan(MAL),C. Kunalan(SIN),Hideo Iijima(JPN),Male,100 m

In [ ]:
#changing column name

df.rename(columns = {'Games':'Year'}, inplace = True)
df.head()

,Year,Gold,Silver,Bronze,Category,Sports
0,1951 New Delhi,Lavy Pinto(IND),Toshihiro Ohashi(JPN),Tomio Hosoda(JPN),Male,100 m
1,1954 Manila,Abdul Khaliq(PAK),Genaro Cabrera(PHI),Marian Gabriel(IND),Male,100 m
2,1958 Tokyo,Abdul Khaliq(PAK),Kyohei Ushio(JPN),Isaac Gomez(PHI),Male,100 m
3,1962 Jakarta,Mohammad Sarengat(INA),Mani Jegathesan(MAL),Rogelio Onofre(PHI),Male,100 m
4,1966 Bangkok,Mani Jegathesan(MAL),C. Kunalan(SIN),Hideo Iijima(JPN),Male,100 m

In [ ]:
""" a= '1951 New Delhi'

a= a.split(' ')
a= a[0]
a ---> 1951

"""

def get_year(year):
  year=year.split(' ')[0]
  return year

df['Year']= df['Year'].apply(get_year)

df.head()

,Year,Gold,Silver,Bronze,Category,Sports
0,1951,Lavy Pinto(IND),Toshihiro Ohashi(JPN),Tomio Hosoda(JPN),Male,100 m
1,1954,Abdul Khaliq(PAK),Genaro Cabrera(PHI),Marian Gabriel(IND),Male,100 m
2,1958,Abdul Khaliq(PAK),Kyohei Ushio(JPN),Isaac Gomez(PHI),Male,100 m
3,1962,Mohammad Sarengat(INA),Mani Jegathesan(MAL),Rogelio Onofre(PHI),Male,100 m
4,1966,Mani Jegathesan(MAL),C. Kunalan(SIN),Hideo Iijima(JPN),Male,100 m

In [ ]:
"""df = pd.DataFrame({'year': ['1 [1991]', '10 [1991-2001]', '8 [1991-1998]', '2 [2000-2002]']})

df['year'] = df['year'].str.extract(r'\[(.*)\]')  --> gives 1991 1991-2002 1991-1998 2000-2002 --> values inside square brackets"""


#we will use the same here

df['Gold']=df.Gold.str.extract(r'\((.*)\)')
df['Silver']=df.Silver.str.extract(r'\((.*)\)')
df['Bronze']=df.Bronze.str.extract(r'\((.*)\)')

df.head()

   Year Gold Silver Bronze Category Sports
0  1951  IND    JPN    JPN     Male  100 m
1  1954  PAK    PHI    IND     Male  100 m
2  1958  PAK    JPN    PHI     Male  100 m
3  1962  INA    MAL    PHI     Male  100 m
4  1966  MAL    SIN    JPN     Male  100 m

In [ ]:
a= df.copy()
df1= df.copy()
a.append(df1)

len(a)

18

In [ ]:
df1=pd.read_html(str(table[1]))
# convert list to dataframe
df1=pd.DataFrame(df1[0])
df1['Category']='Male'
df1['Sports']= sports_male[1]
df1.rename(columns = {'Games':'Year'}, inplace = True)
df1['Year']= df1['Year'].apply(get_year)
df1['Gold']=df1.Gold.str.extract(r'\((.*)\)')
df1['Silver']=df1.Silver.str.extract(r'\((.*)\)')
df1['Bronze']=df1.Bronze.str.extract(r'\((.*)\)')

df1.head()

   Year Gold Silver Bronze Category Sports
0  1951  IND    IND    JPN     Male  200 m
1  1954  PAK    PAK    HKG     Male  200 m
2  1958  IND    PAK    PHI     Male  200 m
3  1962  MAL    JPN    INA     Male  200 m
4  1966  MAL    IND    MAL     Male  200 m

In [ ]:
df=df.append(df1,ignore_index=True)
len(df)

36

In [ ]:
df

    Year Gold Silver Bronze Category Sports
0   1951  IND    JPN    JPN     Male  100 m
1   1954  PAK    PHI    IND     Male  100 m
2   1958  PAK    JPN    PHI     Male  100 m
3   1962  INA    MAL    PHI     Male  100 m
4   1966  MAL    SIN    JPN     Male  100 m
5   1970  JPN    THA    SIN     Male  100 m
6   1974  THA    JPN    THA     Male  100 m
7   1978  THA    IND    KOR     Male  100 m
8   1982  MAL    KOR    THA     Male  100 m
9   1986  QAT    JPN    CHN     Male  100 m
10  1990  QAT    CHN    SRI     Male  100 m
11  1994  QAT    KAZ    CHN     Male  100 m
12  1998  JPN    THA    JPN     Male  100 m
13  2002  KSA    JPN    CHN     Male  100 m
14  2006  KSA    JPN    THA     Male  100 m
15  2010  CHN    KSA    OMA     Male  100 m
16  2014  QAT    CHN    JPN     Male  100 m
17  2018  CHN    QAT    JPN     Male  100 m
18  1951  IND    IND    JPN     Male  200 m
19  1954  PAK    PAK    HKG     Male  200 m
20  1958  IND    PAK    PHI     Male  200 m
21  1962  MAL    JPN    INA     Male  200 m
22  1966  MAL    IND    MAL     Male  200 m
23  1970  THA    JPN    SIN     Male  200 m
24  1974  THA    JPN    PAK     Male  200 m
25  1978  IND    JPN    THA     Male  200 m
26  1982  KOR    JPN    MAL     Male  200 m
27  1986  KOR    CHN    JPN     Male  200 m
28  1990  JPN    SRI    CHN     Male  200 m
29  1994  QAT    JPN    QAT     Male  200 m
30  1998  JPN    CHN    SRI     Male  200 m
31  2002  JPN    KAZ    CHN     Male  200 m
32  2006  JPN    CHN    JPN     Male  200 m
33  2010  QAT    JPN    UAE     Male  200 m
34  2014  QAT    KSA    KOR     Male  200 m
35  2018  JPN    TPE    BRN     Male  200 m

So now we have got the idea of how to create each dataframe for each category and merge it with existing one. so we'll put it function or loop to get it for all type of sports and all type of categories

In [ ]:
#checking tables

table[24].text

"\n\nGames\n\nGold\n\nSilver\n\nBronze\n\n\n1951 New Delhi\n\n\xa0Fumio Nishiuchi\xa0(JPN)\n\n\xa0Bunkichi Sawada\xa0(JPN)\n\n\xa0Khurshid Ahmed\xa0(IND)\n\n\n1954 Manila\n\n\xa0Yang Chuan-kwang\xa0(ROC)\n\n\xa0Fumio Nishiuchi\xa0(JPN)\n\n\xa0Ronnie O'Brien\xa0(IND)\n\n\n1958 Tokyo\n\n\xa0Yang Chuan-kwang\xa0(ROC)\n\n\xa0Kiyoshi Katsuki\xa0(JPN)\n\n\xa0Shosuke Suzuki\xa0(JPN)\n\n\n1962 Jakarta\n\n\xa0Gurbachan Singh Randhawa\xa0(IND)\n\n\xa0Shosuke Suzuki\xa0(JPN)\n\n\xa0Cyril Perera\xa0(MAL)\n\n\n1966 Bangkok\n\n\xa0Wu Ah-min\xa0(ROC)\n\n\xa0Yukio Nogami\xa0(JPN)\n\n\xa0Hiroomi Yamada\xa0(JPN)\n\n\n1970 Bangkok\n\n\xa0Junichi Onizuka\xa0(JPN)\n\n\xa0M. G. Shetty\xa0(IND)\n\n\xa0Wang Ying-shih\xa0(ROC)\n\n\n1974 Tehran\n\n\xa0Vijay Singh Chauhan\xa0(IND)\n\n\xa0Junichi Onizuka\xa0(JPN)\n\n\xa0Suresh Babu\xa0(IND)\n\n\n1978 Bangkok\n\n\xa0Hisashi Iwai\xa0(JPN)\n\n\xa0Prapant Srisathorn\xa0(THA)\n\n\xa0Jin Xuewei\xa0(CHN)\n\n\n1982 New Delhi\n\n\xa0Weng Kangqiang\xa0(CHN)\n\n\xa0Zhai Yingjian\xa0(CHN)\n\n\xa0Monassar Mohamed Saleh\xa0(QAT)\n\n\n1986 Seoul\n\n\xa0Chen Zebin\xa0(CHN)\n\n\xa0Takeshi Kojo\xa0(JPN)\n\n\xa0Park Young-jun\xa0(KOR)\n\n\n1990 Beijing\n\n\xa0Munehiro Kaneko\xa0(JPN)\n\n\xa0Guu Jin-shoei\xa0(TPE)\n\n\xa0Gong Guohua\xa0(CHN)\n\n\n1994 Hiroshima\n\n\xa0Ramil Ganiyev\xa0(UZB)\n\n\xa0Oleg Veretelnikov\xa0(UZB)\n\n\xa0Tomokazu Sugama\xa0(JPN)\n\n\n1998 Bangkok\n\n\xa0Oleg Veretelnikov\xa0(UZB)\n\n\xa0Ramil Ganiyev\xa0(UZB)\n\n\xa0Toru Yasui\xa0(JPN)\n\n\n2002 Busan\n\n\xa0Qi Haifeng\xa0(CHN)\n\n\xa0Dmitriy Karpov\xa0(KAZ)\n\n\xa0Ahmad Hassan Moussa\xa0(QAT)\n\n\n2006 Doha\n\n\xa0Dmitriy Karpov\xa0(KAZ)\n\n\xa0Vitaliy Smirnov\xa0(UZB)\n\n\xa0Kim Kun-woo\xa0(KOR)\n\n\n2010 Guangzhou\n\n\xa0Dmitriy Karpov\xa0(KAZ)\n\n\xa0Kim Kun-woo\xa0(KOR)\n\n\xa0V Vn Huyn\xa0(VIE)\n\n\n2014 Incheon\n\n\xa0Keisuke Ushiro\xa0(JPN)\n\n\xa0Leonid Andreev\xa0(UZB)\n\n\xa0Akihiko Nakamura\xa0(JPN)\n\n\n2018 JakartaPalembang\n\n\xa0Keisuke Ushiro\xa0(JPN)\n\n\xa0Sutthisak Singkhon\xa0(THA)\n\n\xa0Akihiko Nakamura\xa0(JPN)\n"

table 0 - 24 constitues for male category atheletics

In [ ]:
table[25].text

'\n\nGames\n\nGold\n\nSilver\n\nBronze\n\n\n1951 New Delhi\n\n\xa0Kiyoko Sugimura\xa0(JPN)\n\n\xa0Roshan Mistry\xa0(IND)\n\n\xa0Kimiko Okamoto\xa0(JPN)\n\n\n1954 Manila\n\n\xa0Atsuko Nambu\xa0(JPN)\n\n\xa0Mary Klass\xa0(SIN)\n\n\xa0Christine Brown\xa0(IND)\n\n\n1958 Tokyo\n\n\xa0Inocencia Solis\xa0(PHI)\n\n\xa0Sakura Fukuyama\xa0(JPN)\n\n\xa0Yuko Kobayashi\xa0(JPN)\n\n\n1962 Jakarta\n\n\xa0Mona Sulaiman\xa0(PHI)\n\n\xa0Ikuko Yoda\xa0(JPN)\n\n\xa0Takako Inokuchi\xa0(JPN)\n\n\n1966 Bangkok\n\n\xa0Miho Sato\xa0(JPN)\n\n\xa0Ritsuko Sukegawa\xa0(JPN)\n\n\xa0Debra Marcus\xa0(ISR)\n\n\n1970 Bangkok\n\n\xa0Chi Cheng\xa0(ROC)\n\n\xa0Keiko Yamada\xa0(JPN)\n\n\xa0Carolina Rieuwpassa\xa0(INA)\n\n\n1974 Tehran\n\n\xa0Esther Roth\xa0(ISR)\n\n\xa0He Zufen\xa0(CHN)\n\n\xa0Keiko Yamada\xa0(JPN)\n\n\n1978 Bangkok\n\n\xa0Yin Yaping\xa0(CHN)\n\n\xa0Yukiko Osako\xa0(JPN)\n\n\xa0Usanee Laopinkarn\xa0(THA)\n\n\n1982 New Delhi\n\n\xa0Lydia de Vega\xa0(PHI)\n\n\xa0P. T. Usha\xa0(IND)\n\n\xa0Mo Myung-hee\xa0(KOR)\n\n\n1986 Seoul\n\n\xa0Lydia de Vega\xa0(PHI)\n\n\xa0P. T. Usha\xa0(IND)\n\n\xa0Ratjai Sripet\xa0(THA)\n\n\n1990 Beijing\n\n\xa0Tian Yumei\xa0(CHN)\n\n\xa0Wang Huei-chen\xa0(TPE)\n\n\xa0Lee Young-sook\xa0(KOR)\n\n\n1994 Hiroshima\n\n\xa0Liu Xiaomei\xa0(CHN)\n\n\xa0Wang Huei-chen\xa0(TPE)\n\n\xa0Huang Xiaoyan\xa0(CHN)\n\n\n1998 Bangkok\n\n\xa0Li Xuemei\xa0(CHN)\n\n\xa0Li Yali\xa0(CHN)\n\n\xa0Rachita Mistry\xa0(IND)\n\n\n2002 Busan\n\n\xa0Susanthika Jayasinghe\xa0(SRI)\n\n\xa0Lyubov Perepelova\xa0(UZB)\n\n\xa0Qin Wangping\xa0(CHN)\n\n\n2006 Doha\n\n\xa0Guzel Khubbieva\xa0(UZB)\n\n\xa0Susanthika Jayasinghe\xa0(SRI)\n\n\xa0Ruqaya Al-Ghasra\xa0(BRN)\n\n\n2010 Guangzhou\n\n\xa0Chisato Fukushima\xa0(JPN)\n\n\xa0Guzel Khubbieva\xa0(UZB)\n\n\xa0V Th Hng\xa0(VIE)\n\n\n2014 Incheon\n\n\xa0Wei Yongli\xa0(CHN)\n\n\xa0Chisato Fukushima\xa0(JPN)\n\n\xa0Olga Safronova\xa0(KAZ)\n\n\n2018 JakartaPalembang\n\n\xa0Edidiong Odiong\xa0(BRN)\n\n\xa0Dutee Chand\xa0(IND)\n\n\xa0Wei Yongli\xa0(CHN)\n'

In [ ]:
table[49].text

'\n\nGames\n\nGold\n\nSilver\n\nBronze\n\n\n1966 Bangkok\n\n\xa0Michiko Okamoto\xa0(JPN)\n\n\xa0Yeh Chu-mei\xa0(ROC)\n\n\xa0Lolita Lagrosas\xa0(PHI)\n\n\n1970 Bangkok\n\n\xa0Esther Shahamorov\xa0(ISR)\n\n\xa0Lin Chun-yu\xa0(ROC)\n\n\xa0Lolita Lagrosas\xa0(PHI)\n\n\n1974 Tehran\n\n\xa0Kyoko Shimizu\xa0(JPN)\n\n\xa0Sun Yuxiang\xa0(CHN)\n\n\xa0Zhang Yumei\xa0(CHN)\n\n\n1978 Bangkok\n\n\xa0Ye Peisu\xa0(CHN)\n\n\xa0Angel Mary Joseph\xa0(IND)\n\n\xa0Guo Yu\xa0(CHN)\n\n\n1982 New Delhi\n\n\xa0Ye Peisu\xa0(CHN)\n\n\xa0Ye Lianying\xa0(CHN)\n\n\xa0Tomoko Uchida\xa0(JPN)\n\n\n1986 Seoul\n\n\xa0Zhu Yuqing\xa0(CHN)\n\n\xa0Ye Lianying\xa0(CHN)\n\n\xa0Ji Jeong-mi\xa0(KOR)\n\n\n1990 Beijing\n\n\xa0Ma Miaolan\xa0(CHN)\n\n\xa0Dong Yuping\xa0(CHN)\n\n\xa0Ma Chun-ping\xa0(TPE)\n\n\n1994 Hiroshima\n\n\xa0Ghada Shouaa\xa0(SYR)\n\n\xa0Zhang Xiaohui\xa0(CHN)\n\n\xa0Ma Chun-ping\xa0(TPE)\n\n\n1998 Bangkok\n\n\xa0Shen Shengfei\xa0(CHN)\n\n\xa0Svetlana Kazanina\xa0(KAZ)\n\n\xa0Ma Chun-ping\xa0(TPE)\n\n\n2002 Busan\n\n\xa0Shen Shengfei\xa0(CHN)\n\n\xa0Soma Biswas\xa0(IND)\n\n\xa0J. J. Shobha\xa0(IND)\n\n\n2006 Doha\n\n\xa0Olga Rypakova\xa0(KAZ)\n\n\xa0Soma Biswas\xa0(IND)\n\n\xa0J. J. Shobha\xa0(IND)\n\n\n2010 Guangzhou\n\n\xa0Yuliya Tarasova\xa0(UZB)\n\n\xa0Yuki Nakata\xa0(JPN)\n\n\xa0Pramila Aiyappa\xa0(IND)\n\n\n2014 Incheon\n\n\xa0Ekaterina Voronina\xa0(UZB)\n\n\xa0Wang Qingling\xa0(CHN)\n\n\xa0Yuliya Tarasova\xa0(UZB)\n\n\n2018 JakartaPalembang\n\n\xa0Swapna Barman\xa0(IND)\n\n\xa0Wang Qingling\xa0(CHN)\n\n\xa0Yuki Yamasaki\xa0(JPN)\n'

table 25- 49 constitues for female category atheletics

In [ ]:
#table[50] for mixed
table[50].text

'\n\nGames\n\nGold\n\nSilver\n\nBronze\n\n\n2018 JakartaPalembang\n\n\xa0India\xa0(IND)Muhammed AnasM. R. PoovammaHima DasArokia Rajiv\n\n\xa0Kazakhstan\xa0(KAZ)Svetlana GolendovaDmitriy KoblovElina MikhinaMikhail Litvin\n\n\xa0China\xa0(CHN)Cheng ChongYang LeiHuang GuifenWu Yuang\n'

In [ ]:
table[51].text

'vteLists of Asian Games medalistsSummer sports\nArchery\nArtistic swimming\nAthletics\nBadminton\nBaseball\nBasketball\nBeach volleyball\nBoard games\nBoxing\nCanoeing\nCricket\nCycling\nDancesport\nDiving\nDragon boat\nEquestrian\nFencing\nField hockey\nFootball\nGolf\nGymnastics\nHandball\nJudo\nJu-jitsu\nKabaddi\nKarate\nKurash\nModern pentathlon\nRoller sports\nRowing\nRugby union\nSailing\nSepak takraw\nShooting\nSoft tennis\nSoftball\nSport climbing\nSquash\nSwimming\nTable tennis\nTaekwondo\nTennis\nTriathlon\nVolleyball\nWater polo\nWeightlifting\nWrestling\nWushu\nWinter sports\nAlpine skiing\nBiathlon\nCross-country skiing\nCurling\nFigure skating\nFreestyle skiing\nIce hockey\nShort-track speed skating\nSki jumping\nSnowboarding\nSpeed skating\nDiscontinued sports\nBandy\nBodybuilding\nBowling\nCue sports\nJet ski\nMartial arts\nParagliding\nSki orienteering\n'

So we need to focus on table 0 - 50 with matching each category

In [ ]:
sports= sports_male+ sports_female +sports_mixed
len(sports)

51

In [ ]:
category

['Men', 'Women', 'Mixed']

# Dataset preparation

In [ ]:
data= pd.DataFrame()
for i in range(0,51):
  source=pd.read_html(str(table[i]))
  # convert list to dataframe
  atheletics=pd.DataFrame(source[0])
  if(i<=24):
    j=0
  elif(i<50 and i>24):
    j=1
  else:
    j=2
  atheletics['Category']=category[j]
  atheletics['Sports']= sports[i]
  atheletics.rename(columns = {'Games':'Year'}, inplace = True)
  atheletics['Year']= atheletics['Year'].apply(get_year)
  atheletics['Gold']=atheletics.Gold.str.extract(r'\((.*)\)')
  atheletics['Silver']=atheletics.Silver.str.extract(r'\((.*)\)')
  atheletics['Bronze']=atheletics.Bronze.str.extract(r'\((.*)\)')
  print("Appending "+sports[i]+ "in "+category[j])
  data=data.append(atheletics,ignore_index=True)

Appending 100 min Men
Appending 200 min Men
Appending 400 min Men
Appending 800 min Men
Appending 1500 min Men
Appending 5000 min Men
Appending 10,000 min Men
Appending 110 m hurdlesin Men
Appending 400 m hurdlesin Men
Appending 3000 m steeplechasein Men
Appending 4  100 m relayin Men
Appending 4  400 m relayin Men
Appending Marathonin Men
Appending 10,000 m walkin Men
Appending 20 km walkin Men
Appending 50 km walkin Men
Appending High jumpin Men
Appending Pole vaultin Men
Appending Long jumpin Men
Appending Triple jumpin Men
Appending Shot putin Men
Appending Discus throwin Men
Appending Hammer throwin Men
Appending Javelin throwin Men
Appending Decathlonin Men
Appending 100 min Women
Appending 200 min Women
Appending 400 min Women
Appending 800 min Women
Appending 1500 min Women
Appending 3000 min Women
Appending 5000 min Women
Appending 10,000 min Women
Appending 100 m hurdlesin Women
Appending 400 m hurdlesin Women
Appending 3000 m steeplechasein Women
Appending 4  100 m relayin Women
Appending 4  400 m relayin Women
Appending Marathonin Women
Appending 10,000 m walkin Women
Appending 20 km walkin Women
Appending High jumpin Women
Appending Pole vaultin Women
Appending Long jumpin Women
Appending Triple jumpin Women
Appending Shot putin Women
Appending Discus throwin Women
Appending Hammer throwin Women
Appending Javelin throwin Women
Appending Heptathlonin Women
Appending 4  400 m relayin Mixed

In [ ]:
data

     Year Gold Silver Bronze Category           Sports
0    1951  IND    JPN    JPN      Men            100 m
1    1954  PAK    PHI    IND      Men            100 m
2    1958  PAK    JPN    PHI      Men            100 m
3    1962  INA    MAL    PHI      Men            100 m
4    1966  MAL    SIN    JPN      Men            100 m
..    ...  ...    ...    ...      ...              ...
727  2006  KAZ    IND    IND    Women       Heptathlon
728  2010  UZB    JPN    IND    Women       Heptathlon
729  2014  UZB    CHN    UZB    Women       Heptathlon
730  2018  IND    CHN    JPN    Women       Heptathlon
731  2018  IND    KAZ    CHN    Mixed  4  400 m relay

[732 rows x 6 columns]

In [ ]:
data[data.Sports == '4  400 m relay']

     Year Gold Silver Bronze Category           Sports
199  1951  IND    JPN    PHI      Men  4  400 m relay
200  1954  JPN    IND    PHI      Men  4  400 m relay
201  1958  JPN    ROC    PHI      Men  4  400 m relay
202  1962  IND    MAL    JPN      Men  4  400 m relay
203  1966  JPN    MAL    SIN      Men  4  400 m relay
204  1970  JPN    IND    MAL      Men  4  400 m relay
205  1974  SRI    IND    IRN      Men  4  400 m relay
206  1978  JPN    IND    IRQ      Men  4  400 m relay
207  1982  JPN    IRQ    CHN      Men  4  400 m relay
208  1986  JPN    IRQ    PHI      Men  4  400 m relay
209  1990  JPN    QAT    CHN      Men  4  400 m relay
210  1994  KOR    THA    QAT      Men  4  400 m relay
211  1998  JPN    IND    KOR      Men  4  400 m relay
212  2002  KSA    IND    SRI      Men  4  400 m relay
213  2006  KSA    IND    SRI      Men  4  400 m relay
214  2010  KSA    JPN    CHN      Men  4  400 m relay
215  2014  JPN    KOR    KSA      Men  4  400 m relay
216  2018  QAT    IND    JPN      Men  4  400 m relay
574  1974  JPN    SIN    BIR    Women  4  400 m relay
575  1978  JPN    CHN    PRK    Women  4  400 m relay
576  1982  JPN    IND    CHN    Women  4  400 m relay
577  1986  IND    JPN    CHN    Women  4  400 m relay
578  1990  CHN    IND    MAL    Women  4  400 m relay
579  1994  CHN    IND    THA    Women  4  400 m relay
580  1998  CHN    IND    KAZ    Women  4  400 m relay
581  2002  IND    KAZ    CHN    Women  4  400 m relay
582  2006  IND    KAZ    CHN    Women  4  400 m relay
583  2010  IND    KAZ    CHN    Women  4  400 m relay
584  2014  IND    JPN    CHN    Women  4  400 m relay
585  2018  IND    BRN    VIE    Women  4  400 m relay
731  2018  IND    KAZ    CHN    Mixed  4  400 m relay

Finally we have created our dataset, but I want to create another dataset which contains country codes with full country names.

Let's see how can we do that.

I'll take the list from https://en.wikipedia.org/wiki/List_of_IOC_country_codes

# Country code dataset

In [ ]:
country_url = 'https://en.wikipedia.org/wiki/List_of_IOC_country_codes'
country_response = requests.get(country_url)
country_response.status_code

200

In [ ]:
page_contents = country_response.text
c_doc = BeautifulSoup(page_contents, 'html.parser')
table=c_doc.find_all('table')
len(c_doc.find_all('table'))

10

In [ ]:
table[0].text

"\n\nCode\n\nNational Olympic Committee\n\nOther codes used\n\nLink\n\n\nAFG\n\xa0Afghanistan\n\n[1]\n\n\nALB\n\xa0Albania\n\n[2]\n\n\nALG\n\xa0Algeria\nAGR (1964)AGL (1968 S) from Spanish Argelia\n[3]\n\n\nAND\n\xa0Andorra\n\n[4]\n\n\nANG\n\xa0Angola\nANO (As referenced in IAAF World Championships Beijing 2015 Statistics Handbook)[7]\n[5]\n\n\nANT\n\xa0Antigua and Barbuda\n\n[6]\n\n\nARG\n\xa0Argentina\n\n[7]\n\n\nARM\n\xa0Armenia\n\n[8]\n\n\nARU\n\xa0Aruba\n\n[9]\n\n\nASA\n\xa0American Samoa\nAMS[7]\n[10]\n\n\nAUS\n\xa0Australia\n\n[11]\n\n\nAUT\n\xa0Austria\ncurrent code from French Autriche\n[12]\n\n\nAZE\n\xa0Azerbaijan\n\n[13]\n\n\nBAH\n\xa0Bahamas\n\n[14]\n\n\nBAN\n\xa0Bangladesh\n\n[15]\n\n\nBAR\n\xa0Barbados\nBAD (1964)\n[16]\n\n\nBDI\n\xa0Burundi\n\n[17]\n\n\nBEL\n\xa0Belgium\n\n[18]\n\n\nBEN\n\xa0Benin\nDAY (1964)DAH (19681976) as Dahomey\n[19]\n\n\nBER\n\xa0Bermuda\n\n[20]\n\n\nBHU\n\xa0Bhutan\n\n[21]\n\n\nBIH\n\xa0Bosnia and Herzegovina\nBSH (1992 S), BOS[7] current code from Bosnian Bosna i Hercegovina\n[22]\n\n\nBIZ\n\xa0Belize\nHBR (19681972) from French Honduras britannique as British Honduras Also BHO[7]\n[23]\n\n\nBLR\n\xa0Belarus\n\n[24]\n\n\nBOL\n\xa0Bolivia\n\n[25]\n\n\nBOT\n\xa0Botswana\n\n[26]\n\n\nBRA\n\xa0Brazil\n\n[27]\n\n\nBRN\n\xa0Bahrain\nBHR[7]\n[28]\n\n\nBRU\n\xa0Brunei\n\n[29]\n\n\nBUL\n\xa0Bulgaria\n\n[30]\n\n\nBUR\n\xa0Burkina Faso\nVOL (19721984) as Upper Volta Also BKF[7]\n[31]\n\n\nCAF\n\xa0Central African Republic\nAFC (1968)\n[32]\n\n\nCAM\n\xa0Cambodia\nCAB (1964)KHM (1972) as Khmer Republic\n[33]\n\n\nCAN\n\xa0Canada\n\n[34]\n\n\nCAY\n\xa0Cayman Islands\n\n[35]\n\n\nCGO\n\xa0Republic of the Congo\n\n[36]\n\n\nCHA\n\xa0Chad\nCHD (1964)\n[37]\n\n\nCHI\n\xa0Chile\nCIL (1956 W1960 S) from Italian Cile\n[38]\n\n\nCHN\n\xa0China\nPRC (1952 S) as People's Republic of China\n[39]\n\n\nCIV\n\xa0Ivory Coast\nIVC (1964)CML (1968) from Spanish Costa de Marfilcurrent code from French Cte d'Ivoire\n[40]\n\n\nCMR\n\xa0Cameroon\n\n[41]\n\n\nCOD\n\xa0Democratic Republic of the Congo\nCOK (1968) as Congo-KinshasaZAI (19721996) as Zaire\n[42]\n\n\nCOK\n\xa0Cook Islands\nCKI[7]\n[43]\n\n\nCOL\n\xa0Colombia\n\n[44]\n\n\nCOM\n\xa0Comoros\n\n[45]\n\n\nCPV\n\xa0Cape Verde\nCVD[7]\n[46]\n\n\nCRC\n\xa0Costa Rica\nCOS (1964)\n[47]\n\n\nCRO\n\xa0Croatia\n\n[48]\n\n\nCUB\n\xa0Cuba\n\n[49]\n\n\nCYP\n\xa0Cyprus\n\n[50]\n\n\nCZE\n Czechia\n\n[51]\n\n\nDEN\n\xa0Denmark\nDAN (1960 S1968 W)DIN (1968 S)previous codes taken from Italian Danimarca, French Danemark and Spanish Dinamarca\n[52]\n\n\nDJI\n\xa0Djibouti\n\n[53]\n\n\nDMA\n\xa0Dominica\nDMN[7]\n[54]\n\n\nDOM\n\xa0Dominican Republic\n\n[55]\n\n\nECU\n\xa0Ecuador\n\n[56]\n\n\nEGY\n\xa0Egypt\nRAU (19601968)UAR (1964) as United Arab Republic previous codes taken from Italian Repubblica Araba Unita, French Rpublique Arabe Unie and Spanish Repblica rabe Unida\n[57]\n\n\nERI\n\xa0Eritrea\n\n[58]\n\n\nESA\n\xa0El Salvador\nSAL (19641976)\n[59]\n\n\nESP\n\xa0Spain\nSPA (195619641968 W)current code taken from French Espagne or Spanish Espaa\n[60]\n\n\nEST\n\xa0Estonia\n\n[61]\n\n\nETH\n\xa0Ethiopia\nETI (19601968)\n[62]\n\n\nFIJ\n\xa0Fiji\nFIG (1960) from Italian Figi\n[63]\n\n\nFIN\n\xa0Finland\n\n[64]\n\n\nFRA\n\xa0France\n\n[65]\n\n\nFSM\n\xa0Federated States of Micronesia\n\n[66]\n\n\nGAB\n\xa0Gabon\n\n[67]\n\n\nGAM\n\xa0The Gambia\n\n[68]\n\n\nGBR\n\xa0Great Britain\nGRB (1956 W1960)GBI (1964)\n[69]\n\n\nGBS\n\xa0Guinea-Bissau\n\n[70]\n\n\nGEO\n\xa0Georgia\n\n[71]\n\n\nGEQ\n\xa0Equatorial Guinea\n\n[72]\n\n\nGER\n\xa0Germany\n\n[73]\n\n\nGHA\n\xa0Ghana\n\n[74]\n\n\nGRE\n\xa0Greece\n\n[75]\n\n\nGRN\n\xa0Grenada\n\n[76]\n\n\nGUA\n\xa0Guatemala\nGUT (1964)\n[77]\n\n\nGUI\n\xa0Guinea\n\n[78]\n\n\nGUM\n\xa0Guam\n\n[79]\n\n\nGUY\n\xa0Guyana\nGUA (1960)GUI (1964) BGU[7]\n[80]\n\n\nHAI\n\xa0Haiti\n\n[81]\n\n\nHKG\n\xa0Hong Kong, China\nHOK (19601968)\n[82]\n\n\nHON\n\xa0Honduras\n\n[83]\n\n\nHUN\n\xa0Hungary\nUNG (1956 W1960 S) from Italian Ungheria\n[84]\n\n\nINA\n\xa0Indonesia\nINS (1960)\n[85]\n\n\nIND\n\xa0India\n\n[86]\n\n\nIRI\n\xa0Iran\nIRN (19561988)IRA (1968 W)current code from Islamic Republic of Iran\n[87]\n\n\nIRL\n\xa0Ireland\ncurrent code taken from French Irlande\n[88]\n\n\nIRQ\n\xa0Iraq\nIRK (19601968) from French/Spanish Irak\n[89]\n\n\nISL\n\xa0Iceland\nICE (1960 W1964 S)current code taken from French Islande, Icelandic sland or Spanish Islandia\n[90]\n\n\nISR\n\xa0Israel\n\n[91]\n\n\nISV\n\xa0Virgin Islands\ncurrent code taken from French les Vierges (des tats-Unis)\n[92]\n\n\nITA\n\xa0Italy\n\n[93]\n\n\nIVB\n\xa0British Virgin Islands\ncurrent code taken from French les Vierges britanniques\n[94]\n\n\nJAM\n\xa0Jamaica\n\n[95]\n\n\nJOR\n\xa0Jordan\n\n[96]\n\n\nJPN\n\xa0Japan\nGIA (1956 W1960 S) from Italian GiapponeJAP (1960 W)\n[97]\n\n\nKAZ\n\xa0Kazakhstan\n\n[98]\n\n\nKEN\n\xa0Kenya\n\n[99]\n\n\nKGZ\n\xa0Kyrgyzstan\n\n[100]\n\n\nKIR\n\xa0Kiribati\n\n[101]\n\n\nKOR\n\xa0South Korea\nCOR (1956 W1960 S1968 S1972 S)previous code taken from Italian Corea, French Core and Spanish Corea\n[102]\n\n\nKOS\n\xa0Kosovo\n\n[103]\n\n\nKSA\n\xa0Saudi Arabia\nARS (19681976) from French Arabie saouditeSAU (19801984)current code from Kingdom of Saudi Arabia\n[104]\n\n\nKUW\n\xa0Kuwait\n\n[105]\n\n\nLAO\n\xa0Laos\n\n[106]\n\n\nLAT\n\xa0Latvia\n\n[107]\n\n\nLBA\n\xa0Libya\nLYA (1964)LBY (1968 W)\n[108]\n\n\nLBN\n\xa0Lebanon\nLEB (1960 W1964 S)LIB (19642016) from French Liban\n[109]\n\n\nLBR\n\xa0Liberia\n\n[110]\n\n\nLCA\n\xa0Saint Lucia\n\n[111]\n\n\nLES\n\xa0Lesotho\n\n[112]\n\n\nLIE\n\xa0Liechtenstein\nLIC (1956 W1964 S1968 W)\n[113]\n\n\nLTU\n\xa0Lithuania\nLIT (1992 W)\n[114]\n\n\nLUX\n\xa0Luxembourg\n\n[115]\n\n\nMAD\n\xa0Madagascar\nMAG (1964)\n[116]\n\n\nMAR\n\xa0Morocco\nMRC (1964); current code from French Maroc\n[117]\n\n\nMAS\n\xa0Malaysia\nMAL (19641988)\n[118]\n\n\nMAW\n\xa0Malawi\n\n[119]\n\n\nMDA\n\xa0Moldova\nMLD (1994)\n[120]\n\n\nMDV\n\xa0Maldives\n\n[121]\n\n\nMEX\n\xa0Mexico\n\n[122]\n\n\nMGL\n\xa0Mongolia\nMON (1968 W)\n[123]\n\n\nMHL\n\xa0Marshall Islands\n\n[124]\n\n\nMKD\n North Macedonia\ncurrent code taken from Macedonian /Makedonija\n[125]\n\n\nMLI\n\xa0Mali\n\n[126]\n\n\nMLT\n\xa0Malta\nMAT (19601964)\n[127]\n\n\nMNE\n\xa0Montenegro\n\n[128]\n\n\nMON\n\xa0Monaco\n\n[129]\n\n\nMOZ\n\xa0Mozambique\n\n[130]\n\n\nMRI\n\xa0Mauritius\nFrom French Maurice\n[131]\n\n\nMTN\n\xa0Mauritania\n\n[132]\n\n\nMYA\n\xa0Myanmar\nBIR (1948196019681988) from French  BirmanieBUR (1964) as  Burma\n[133]\n\n\nNAM\n\xa0Namibia\n\n[134]\n\n\nNCA\n\xa0Nicaragua\nNCG (1964)NIC (1968)\n[135]\n\n\nNED\n\xa0Netherlands\nOLA (1956 W) from Italian OlandaNET (1960 W)PBA (1960 S) from Italian Paesi BassiNLD (1964 S)HOL (19681988) as  Hollandcurrent code taken from Dutch Nederland\n[136]\n\n\nNEP\n\xa0Nepal\n\n[137]\n\n\nNGR\n\xa0Nigeria\nNIG (1960 S)NGA (1964)\n[138]\n\n\nNIG\n\xa0Niger\nNGR (1964)\n[139]\n\n\nNOR\n\xa0Norway\n\n[140]\n\n\nNRU\n\xa0Nauru\n\n[141]\n\n\nNZL\n\xa0New Zealand\nNZE (19601968 W)\n[142]\n\n\nOMA\n\xa0Oman\n\n[143]\n\n\nPAK\n\xa0Pakistan\n\n[144]\n\n\nPAN\n\xa0Panama\n\n[145]\n\n\nPAR\n\xa0Paraguay\n\n[146]\n\n\nPER\n\xa0Peru\n\n[147]\n\n\nPHI\n\xa0Philippines\nFIL (19601968) from Italian Filippine and Spanish Filipinas\n[148]\n\n\nPLE\n\xa0Palestine\n\n[149]\n\n\nPLW\n\xa0Palau\n\n[150]\n\n\nPNG\n\xa0Papua New Guinea\nNGY (19761980)NGU (19841988)\n[151]\n\n\nPOL\n\xa0Poland\n\n[152]\n\n\nPOR\n\xa0Portugal\n\n[153]\n\n\nPRK\n\xa0North Korea\nNKO (1964 S1968 W)CDN (1968) from French Core du Nord or Spanish Corea del Nortecurrent code from People's Republic of Korea\n[154]\n\n\nPUR\n\xa0Puerto Rico\nPRI (1960)PRO (1968)\n[155]\n\n\nQAT\n\xa0Qatar\n\n[156]\n\n\nROU\n\xa0Romania\nROM (1956196019722006)RUM (19641968) from obsolete spelling Rumaniacurrent code from French Roumanie\n[157]\n\n\nRSA\n\xa0South Africa\nSAF (19601972)current code from Republic of South Africa\n[158]\n\n\nRUS\n\xa0Russia\nFrom 1994 to 2016\n[159]\n\n\nRWA\n\xa0Rwanda\n\n[160]\n\n\nSAM\n\xa0Samoa\nWSM (19841996) as Western Samoa\n[161]\n\n\nSEN\n\xa0Senegal\nSGL (1964)\n[162]\n\n\nSEY\n\xa0Seychelles\n\n[163]\n\n\nSGP\n\xa0Singapore\nSIN (19592016)\n[164]\n\n\nSKN\n\xa0Saint Kitts and Nevis\n\n[165]\n\n\nSLE\n\xa0Sierra Leone\nSLA (1968)\n[166]\n\n\nSLO\n\xa0Slovenia\n\n[167]\n\n\nSMR\n\xa0San Marino\nSMA (19601964)\n[168]\n\n\nSOL\n\xa0Solomon Islands\n\n[169]\n\n\nSOM\n\xa0Somalia\n\n[170]\n\n\nSRB\n\xa0Serbia\n\n[171]\n\n\nSRI\n\xa0Sri Lanka\nCEY (194819641972) as  CeylonCEI (1968 S) from Spanish Ceiln\n[172]\n\n\nSSD\n\xa0South Sudan\n\n[173]\n\n\nSTP\n\xa0So Tom and Prncipe\n\n[174]\n\n\nSUD\n\xa0Sudan\n\n[175]\n\n\nSUI\n\xa0Switzerland\nSVI (1956 W1960 S) from Italian SvizzeraSWI (1960 W1964 S)current code from French Suisse\n[176]\n\n\nSUR\n\xa0Suriname\n\n[177]\n\n\nSVK\n\xa0Slovakia\n\n[178]\n\n\nSWE\n\xa0Sweden\nSVE (1956 W1960 S) from Italian SveziaSUE (1968 S) from Spanish Suecia\n[179]\n\n\nSWZ\n Eswatini\ncurrent code from former name Swaziland\n[180]\n\n\nSYR\n\xa0Syria\nSIR (1968) from Spanish Siria\n[181]\n\n\nTAN\n\xa0Tanzania\n\n[182]\n\n\nTGA\n\xa0Tonga\nTON (1984)\n[183]\n\n\nTHA\n\xa0Thailand\n\n[184]\n\n\nTJK\n\xa0Tajikistan\n\n[185]\n\n\nTKM\n\xa0Turkmenistan\n\n[186]\n\n\nTLS\n\xa0East Timor\ncurrent code taken from Portuguese Timor-Leste\n[187]\n\n\nTOG\n\xa0Togo\n\n[188]\n\n\nTPE\n\xa0Chinese Taipei[8]\nRCF (19561960) as Republic of China, FormosaTWN (19641968) as  TaiwanROC (19721976) as  Republic of China\n[189]\n\n\nTTO\n\xa0Trinidad and Tobago\nTRT (19641968)TRI (19722012)\n[190]\n\n\nTUN\n\xa0Tunisia\n\n[191]\n\n\nTUR\n\xa0Turkey\n\n[192]\n\n\nTUV\n\xa0Tuvalu\n\n[193]\n\n\nUAE\n\xa0United Arab Emirates\n\n[194]\n\n\nUGA\n\xa0Uganda\n\n[195]\n\n\nUKR\n\xa0Ukraine\n\n[196]\n\n\nURU\n\xa0Uruguay\nURG (1968)\n[197]\n\n\nUSA\n\xa0United States\nSUA (1960 S) from Italian Stati Uniti d'AmericaEUA (1968 S) from French tats-Unis d'Amrique or Spanish Estados Unidos de Amrica\n[198]\n\n\nUZB\n\xa0Uzbekistan\n\n[199]\n\n\nVAN\n\xa0Vanuatu\n\n[200]\n\n\nVEN\n\xa0Venezuela\n\n[201]\n\n\nVIE\n\xa0Vietnam\nVET (1964)VNM (19681976)\n[202]\n\n\nVIN\n\xa0Saint Vincent and the Grenadines\n\n[203]\n\n\nYEM\n\xa0Yemen\n\n[204]\n\n\nZAM\n\xa0Zambia\nNRH (1964) as Northern Rhodesia\n[205]\n\n\nZIM\n\xa0Zimbabwe\nRHO (19601972) as Rhodesia\n[206]\n"

In [ ]:
#changing table 0 to dataframe

country=pd.read_html(str(table[0]))
# convert list to dataframe
country=pd.DataFrame(country[0])
country.tail()

,Code,National Olympic Committee,Other codes used,Link
201,VIE,Vietnam,VET (1964)VNM (19681976),[202]
202,VIN,Saint Vincent and the Grenadines,NaN,[203]
203,YEM,Yemen,NaN,[204]
204,ZAM,Zambia,NRH (1964) as Northern Rhodesia,[205]
205,ZIM,Zimbabwe,RHO (19601972) as Rhodesia,[206]

In [ ]:
#From here we'll take the Nation and Code

country= country[['Code',	'National Olympic Committee',	'Other codes used']]

In [ ]:
country.head()

,Code,National Olympic Committee,Other codes used
0,.mw-parser-output .monospaced{font-family:mono...,Afghanistan,NaN
1,ALB,Albania,NaN
2,ALG,Algeria,AGR (1964)AGL (1968 S) from Spanish Argelia
3,AND,Andorra,NaN
4,ANG,Angola,ANO (As referenced in IAAF World Championships...

So here I could see for country Afghanistan, the record seems to have some extra values. We need to remove that.

But before that we need to check if there is any other code that is similar like this.

We'll check that by using the length of the code

In [ ]:
for i in country.Code:
  if len(i) >3:
    print(i)

.mw-parser-output .monospaced{font-family:monospace,monospace}AFG

It seems that only the first value has this. We'll manually change that here

In [ ]:
country.Code[0]='AFG'
country.Code[0]

'AFG'

In [ ]:
country

,Code,National Olympic Committee,Other codes used
0,AFG,Afghanistan,NaN
1,ALB,Albania,NaN
2,ALG,Algeria,AGR (1964)AGL (1968 S) from Spanish Argelia
3,AND,Andorra,NaN
4,ANG,Angola,ANO (As referenced in IAAF World Championships...
...,...,...,...
201,VIE,Vietnam,VET (1964)VNM (19681976)
202,VIN,Saint Vincent and the Grenadines,NaN
203,YEM,Yemen,NaN
204,ZAM,Zambia,NRH (1964) as Northern Rhodesia
205,ZIM,Zimbabwe,RHO (19601972) as Rhodesia

The reason for adding this dataset is beacause, we could see some countries have use different country codes for the specific time period. 

This data set will help to identify the old and new country codes in that cases.

# Saving the datasets

In [384]:
# saving the dataframe
data.to_csv('Athletics_record.csv')

country.to_csv('Country_code.csv')

#Things I've learnt

- Basic concepts of web screaping using Beautiful soup
- Findall() to get the html tags and sections
- Using tables to extract wikipedia table infomration is very easy 


#Things to implement in future
- Scraping multi pages in wikipedia using wikipedia and urllib2 pacakages
- Including scraping of href links for the dataset
- Scraping someother sites apart from wikipedia

# References

- https://www.youtube.com/watch?v=RKsLLG-bzEY&t=4592s
- https://en.wikipedia.org/wiki/List_of_Asian_Games_medalists_in_athletics
- https://jovian.ai/aakashns-6l3/scraping-github-topics-repositories-rough
- https://www.w3resource.com/python-exercises/BeautifulSoup/python-beautifulsoup-exercise-9.php
- https://www.pylenin.com/blogs/python-beautiful-soup/
- https://medium.com/analytics-vidhya/web-scraping-a-wikipedia-table-into-a-dataframe-c52617e1f451
- https://www.appsloveworld.com/pandas/100/144/how-to-extract-only-the-string-component-between-parenthesis
- https://en.wikipedia.org/wiki/List_of_IOC_country_codes